{
    "projectName": "rustici-software-cloud-v2",
    "additionalProperties": {
        "excludeTests": true
    },
    "packageVersion": "1.0.0-beta",
    "localVariablePrefix": "scormcloud",
    "invokerPackage": "rustici-software-cloud-v2",
    "apiPackage": "rustici-software-cloud-v2-api",
    "modelPackage": "rustici-software-cloud-v2-model"
}
